/* mobile - default */
.row {
    background-color: gold;
    border: 3px dashed black;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    flex-direction: column;
}

.col {
    border: 3px solid #333;
    background-color: #dfdfdf;
    font-size: 50px;
}

/* tablets */
@media (min-width: 576px) {
.row {
    flex-direction: row;
    
}

.col {
    flex-basis: 48%;
    
}

.row-5 .col-3,
.row-4 .col-1 {
    flex-basis : 100%

}
}

@media (min-width: 768px) {
.col {
    flex-basis : 22%;
}

.row-2 .col {
    flex-basis : 48%;
    
}

.row-3 .col-1 {
    flex-basis : 74%;
        
}

.row-5 .col-2,
.row-5 .col-1 {
    flex-basis: 48%
    
}
}

/* Background Styles */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 30px;
}
